<!DOCTYPE html>
<!--
        Transit by TEMPLATED
        templated.co @templatedco
        Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/stylesheets/skel.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/style-xlarge.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">


        <!-- Compiled and minified JavaScript -->


        <noscript>
        </noscript>
    </head>
    <body>

        <!-- Header -->
        <header id="header">

            <nav id="nav">
                <ul class="links">
                    <li><a href="/acerca"><img src="images/logotipo2.png" style="width: 250px; height: 100px; float: left;" alt="Logo"></a></li>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/citacion">Evita Citaciones</a></li>
                    <li><a href="/registro">Crear Citacion</a></li>
                    <li><a href="/login" class="button special">Sign Up</a></li>
                </ul>


            </nav>
        </header>

        <!-- Inicio Codigo Generado DINAMICAMENTE -->
        <%- include(fragmento) -%>

        <%- include(archivo) -%>

        <!-- Fin Codigo Generado DINAMICAMENTE -->

        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <section class="links">
                    <div class="row">
                        <section class="3u 6u(medium) 12u$(small)">
                            <h3>Documentos</h3>
                            <ul class="unstyled">
                                <li><a href="https://www.justicia.gob.ec/wp-content/uploads/2014/05/c%C3%B3digo_org%C3%A1nico_integral_penal_-_coip_ed._sdn-mjdhc.pdf">Código Orgánico Integral Penal</a></li>
                                <li><a href="https://www.turismo.gob.ec/wp-content/uploads/2016/04/LEY-ORGANICA-DE-TRANSPORTE-TERRESTRE-TRANSITO-Y-SEGURIDAD-VIAL.pdf">Ley Orgánica de Transorte Terrestre Tránsito y Seguridad Vial</a></li>
                                <li><a href="https://www.correosdelecuador.gob.ec/wp-content/uploads/downloads/2015/05/REGLAMENTO_A_LA_LEY_DE_TRANSPORTE_TERRESTRE_TRANSITO_Y_SEGURIDAD_VIAL.pdf">Reglamento a la Ley Orgánica de Transporte Terrestre Tránsito y Seguridad Vial</a></li>

                            </ul>
                        </section>
                        <section class="3u 6u$(medium) 12u$(small)">
                            <h3>Enlaces</h3>
                            <ul class="unstyled">
                                <li><a href="https://ant.gob.ec/">Agencia Nacional de Tránsito</a></li>
                                <li><a href="https://sistemaunico.ant.gob.ec:5038/PortalWEB/paginas/clientes/clp_criterio_consulta.jsp">Consulta de citaciones</a></li>

                            </ul>
                        </section>
                    </div>
                </section>
                <div class="row">
                    <div class="8u 12u$(medium)">
                        <ul class="copyright">
                            <li>&copy; Patricio Benítez 4to Ciclo "B" CIS. All rights reserved.</li>
                            <!--<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                            <li>Images: <a href="http://unsplash.com">Unsplash</a></li>-->
                        </ul>
                    </div>
                    <div class="4u$ 12u$(medium)">
                        <ul class="icons">
                            <li>
                                <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/skel.min.js"></script>
        <script src="/javascripts/skel-layers.min.js"></script>
        <script src="/javascripts/init.js"></script>
    </body>
</html>

