
<section id="main" class="wrapper">
    <div class="container" style="text-align:left; background: lightgray;">

        <header class="major">
            <h2><%= h1 %></h2>
            <p>¡HONOR, DISCIPLINA Y LEALTAD!</p>
            <p>¿Cuál es el fundamento legal que ampara a los reguladores de tránsito o agentes de tránsito?</p>
        </header>
        <!--https://www.youtube.com/watch?v=mZ9vmXCS2B0-->

        <p><b>El Agente de Tránsito es el funcionario o persona civil identificada que está investida de autoridad para regular la circulación vehicular y peatonal y vigilar, controlar 
                e intervenir en el cumplimiento de las normas de tránsito y transporte en cada uno de los entes territoriales. En el artículo 7 de la Ley 769 de 2002 se determina que las
                autoridades de tránsito podrán delegar en entidades privadas el aporte de pruebas de infracciones de tránsito, el recaudo de las multas correspondientes, la tramitación de especies venales y
                todos los trámites previstos en las normas legales y reglamentarias, salvo la valoración de dichas pruebas. Cada organismo de tránsito contará con un cuerpo de agentes de tránsito que actuará únicamente 
                en su respectiva jurisdicción y el Ministerio de Transporte tendrá a su cargo un cuerpo especializado de agentes de tránsito de la Policía Nacional que velará por el cumplimiento del régimen normativo de tránsito en
                todas las carreteras nacionales por fuera del perímetro urbano de distritos y municipios.</b>
        </p>
        <header>
            <h4>Misión Institucional</h4>
        </header>
        <p>
            Dirigir y controlar la actividad operativa de los servicios de transporte terrestre, tránsito y seguridad vial, 
            en la red vial cantonal y sus troncales parroquiales y demás circunscripciones territoriales que le fueren 
            delegadas por los Gobiernos Autónomos Descentralizados, con sujeción a las regulaciones emanadas por la ANT, 
            la investigación de accidentes de tránsito y capacitacion contínua a los Agentes Civiles de Tránsito.
        </p>
        <header>
            <h4>Valores Institucionales</h4>
        </header>
        <p><b>Responsabilidad:</b> Cumplir con el deber.<br>
            <b>Excelencia:</b> Rendimiento sobresaliente y liderazgo de gestión.<br>
            <b>Eficiencia:</b> Lograr la máxima
            productividad con los recursos que se disponen.<br>
            <b>Innovación:</b> Aplicar la tecnología de punta en los procesos.<br>
            <b>Transparencia:</b> Mantener a disposición de la ciudadanía todos los actos inherentes a la gestión.
        </p>

        <div class="container" style="text-align:center;>
            <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/UHrjcIpEODo" width="500" height="405" frameborder="0" allowfullscreen"></iframe>
            <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/DxbJXgxnrMA" width="500" height="405" frameborder="0" allowfullscreen"></iframe>
            <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/zA9J7Uabkzk" width="500" height="405" frameborder="0" allowfullscreen"></iframe>
            <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/lQinVA1lbyg" width="500" height="405" frameborder="0" allowfullscreen"></iframe>
            <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/3WhQpjg6C2I" width="500" height="405" frameborder="0" allowfullscreen"></iframe>
            <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/AZLzpslxXeI" width="500" height="405" frameborder="0" allowfullscreen"></iframe>
        </div>
    </div>
</section>
