
<section id="main" class="wrapper">
    <div class="container" style="text-align:center;">

        <header class="major">
            <h2><%= h1 %></h2>
             <% if (login == true) { %>
            <h2>Bienvenido</h2>
             <%}else{%>
             <h2>Te damos la Bienvenida</h2>
             <%}%>
            <p>¡HONOR, DISCIPLINA Y LEALTAD!</p>
        </header>
        <!--https://www.youtube.com/watch?v=mZ9vmXCS2B0-->
        <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/mZ9vmXCS2B0?rel=0&autoplay=1&loop=1&playlist=mZ9vmXCS2B0" width="500" height="405" frameborder="0" allowfullscreen></iframe>
        <p>La Comisión de Tránsito del Ecuador, a través de su escuela de formación – EFOT, realiza la Formación de Agentes Civiles de Tránsito para los Gobiernos Autónomos Descentralizados (GAD) tipo A con base al Convenio de Cooperación Interinstitucional realizado entre la Agencia Nacional de Tránsito (ANT) y la Comisión de Tránsito del Ecuador (CTE), firmado en la ciudad de Quito el 11 de julio del 2012, mediante el cual, la ANT encarga la formación de Agentes Civiles a la CTE.

            El proceso de reclutamiento y selección de los aspirantes, es responsabilidad, de cada GAD. El listado de los aspirantes seleccionados lo entrega cada Municipio a la Agencia Nacional de Tránsito, quien mediante circular lo dirige a la Comisión de Tránsito del Ecuador, para que inicie el curso de formación.

            La formación de Agentes Civiles se desarrolla con base en el “Programa para la formación de ACTs” expedida por la ANT, mediante Resolución 060-DIR-2012-ANT.
        </p>
        
    </div>
</section>

