<body class="is-preload" style="background-image: none; ">
    <div id="page-wrapper">

        <!-- Main -->
        <section id="main" class="container medium">
            <header>

                <p>Registre su citación</p>
            </header>
            <div class="box" style="background-color: #fff">
                <form class="contact-form modal-content col container" id="validation-form" method="POST" action="/metodoBuscarArticulo">
                    <div>
                        <fieldset>
                            <legend>  DATOS DE ARTICULOS</legend>
                            <div class="col-3 col-12-mobilep form-check form-check-inline">
                                <label class="form-control-label">Articulo:</label>
                                <input type="text" name="articulo_buscar" class="articulo_buscar" maxlength="10" id="articulo_buscar" required placeholder="Articulo"/>
                            </div>
                            <div class="col-3 col-12-mobilep form-check form-check-inline">
                                <label class="form-control-label">Inciso:</label>
                                <input type="text" name="inciso_buscar" class="inciso_buscar" maxlength="10" id="inciso_buscar" required placeholder="Inciso"/>
                            </div>
                            <div class="col-3 col-12-mobilep form-check form-check-inline">
                                <label class="form-control-label">Numeral:</label>
                                <input type="text" name="numeral_buscar" class="numeral_buscar" maxlength="10" id="numeral_buscar" required placeholder="Numeral"/>
                                <button type="button" name="btn_buscar_articulo" id="btn_buscar_articulo" ><i class="col-3 col-12-mobilep form-check form-check-inline fas fa-search" style="height: 40px;"></i></button>
                            </div>
                            <div class="col-3 col-12-mobilep form-check form-check-inline">
                                <textarea id="nombreArticulo" disabled></textarea>
                            </div>
                            <div class="col-3 col-12-mobilep form-check form-check-inline">
                                <textarea id="detalleArticulo" disabled></textarea>
                            </div>
                            <div class="col-3 col-12-mobilep form-check form-check-inline">
                                <textarea id="cuerpoArticulo" disabled></textarea>
                            </div>

                            <div class="modal-footer">
                                <a href = '/mapa'> Siguiente</a>
                            </div>


                        </fieldset>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script>

        $("#btn_buscar_articulo").click(function () {
            var html = "Ningun Dato que mostrar";
            var numero_articulo = $('#articulo_buscar').val();
            var numero_inciso = $('#inciso_buscar').val();
            var numeral = $('#numeral_buscar').val();
            $.ajax({
                type: "POST",
                url: "/metodoBuscarArticulo",
                data: {'numero_articulo': numero_articulo, 'numero_inciso': numero_inciso, 'numeral': numeral},
                success: function (data) {
                    alert('Datos encontrados');
                    $('#nombreArticulo').val(data.nombre_articulo);
                    $('#detalleArticulo').val(data.detalle_articulo);
                    $('#cuerpoArticulo').val(data.detalle_numeral);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Articulo no encontrado. ERROR');
                }
            });
        });
    </script>
    <script>
        onload = function () {
            var ele = document.querySelectorAll('.articulo_buscar')[0];
            var ele1 = document.querySelectorAll('.inciso_buscar')[0];
            var ele2 = document.querySelectorAll('.numeral_buscar')[0];
            ele.onkeypress = function (e) {
                if (isNaN(this.value + String.fromCharCode(e.charCode)))
                    return false;
            }
            ele.onpaste = function (e) {
                e.preventDefault();
            }
            ele1.onkeypress = function (e) {
                if (isNaN(this.value + String.fromCharCode(e.charCode)))
                    return false;
            }
            ele1.onpaste = function (e) {
                e.preventDefault();
            }
            ele2.onkeypress = function (e) {
                if (isNaN(this.value + String.fromCharCode(e.charCode)))
                    return false;
            }
            ele2.onpaste = function (e) {
                e.preventDefault();
            }
        }
        
    </script>
    

</body>









