
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container" style="text-align:left;">

        <header class="major">
            
            <h2><b><%= h1 %></b></h2>
            <h3><b>CAPÍTULO CUARTO<br>INFRACCIONES DE TRÁNSITO<br><br>SECCIÓN PRIMERA<br>Reglas generales</b></h3>

        </header>
        <div class="card" style="background-color: lightgray;">
            <div class="card-body">
                
                <p class="card-text">

                            <b>Artículo 371.- Infracciones de tránsito.- </b>
                            Son     infracciones     de     
                            tránsito   las   acciones   u   omisiones   
                            culposas producidas en el ámbito del 
                            transporte y seguridad vial.<br>
                            <b>Artículo  372.-  Pena  natural.- </b> 
                            En 
                            caso de pena natural probada, en las 
                            infracciones  de  tránsito  y  cuando  
                            la  o  las  víctimas  sean  parientes  del  
                            presunto   infractor   hasta   el   cuarto   
                            grado  de  consanguinidad  o  segundo  
                            de afinidad, la o el juzgador podrá 
                            dejar de imponer una pena o imponer 
                            exclusivamente  penas  no  privativas  
                            de libertad.<br>
                            <b>Artículo    373.-    Responsabilidad    
                                de  las  o  los  peatones,  pasajeros  
                                o     controladores.-  </b>     
                            Cuando     el     
                            responsable  del  accidente  no  sea  la  
                            o  el  conductor  de  un  vehículo  sino  
                            la  o  el  peatón,  pasajero,  controlador  
                            u   otra   persona,   será   sancionado   
                            con   las   penas   previstas   en   los  
                            artículos    correspondientes,    según    
                            las  circunstancias  de  la  infracción,  
                            a excepción de la pérdida de puntos 
                            que  se  aplica  en  forma  exclusiva  a  
                            las o los conductores infractores.<br>
                            <b>Artículo        374.-        Agravantes        
                                en     infracciones     de     tránsito.-     </b> 
                            Para   la   imposición   de   la   pena,   
                            en    las    infracciones    de    tránsito,    
                            se     considerarán     las     siguientes     
                            circunstancias:<br>
                            1.   La   persona   que   conduzca   un   
                            vehículo  a  motor  con  licencia  de  
                            conducir      caducada,      suspendida      
                            temporal o definitivamente y cause 
                            una   infracción   de   tránsito,   será   
                            sancionada   con   el   máximo   de   la   
                            pena correspondiente a la infracción 
                            cometida.<br>
                            2.    La    persona    que    sin    estar    
                            legalmente autorizada para conducir 
                            vehículos a motor o haciendo uso de 
                            una licencia de conducir de categoría 
                            y  tipo  inferior  a  la  necesaria,  según  
                            las    características    del    vehículo,    
                            incurra en una infracción de tránsito, 
                            será sancionada con el máximo de la 
                            pena correspondiente a la infracción 
                            cometida.<br>
                            3.   La   persona   que   ocasione   un   
                            accidente de tránsito y huya del lugar 
                            de los hechos, será sancionada con el 
                            máximo de la pena correspondiente a 
                            la infracción cometida.<br>
                            4.   La   persona   que   ocasione   un   
                            accidente de tránsito con un vehículo 
                            sustraído,   será   sancionada   con   el  
                            máximo  de  las  penas  previstas  para  
                            la  infracción  cometida,  aumentadas  
                            en   la   mitad,   sin   perjuicio   de   la   
                            acción penal a que haya lugar por la 
                            sustracción del automotor.<br>
                            <b>Artículo   375.-   Uso   de   vehículo   
                                para  la  comisión  de  delitos.-   </b> 
                            La 
                            persona que al conducir un vehículo 
                            automotor   lo   utilice   como   medio   
                            para la comisión de un delito, además 
                            de  su  responsabilidad  como  autor  o  
                            cómplice del hecho, será sancionada 
                            con   la   suspensión   de   la   licencia   
                            para   conducir   por   el   tiempo   que   
                            dure  la  condena.  La  sanción  deberá  
                            ser  notificada  a  las  autoridades  de 
                            tránsito competentes.<br>

                        </p>
                        <header>
                            <h3><b>SECCIÓN SEGUNDA<br>Delitos culposos de Tránsito</b></h3>

                        </header>
                        <p class="card-text">

                            <b>Artículo 376.- Muerte causada por 
                                conductor en estado de embriaguez 
                                o  bajo  los  efectos  de  sustancias  
                                estupefacientes,    psicotrópicas    o    
                                preparados que las contengan.-
                            </b>
                            La 
                            persona  que  conduzca  un  vehículo  
                            a  motor  en  estado  de  embriaguez  
                            o   bajo   los   efectos   de   sustancias   
                            estupefacientes,     psicotrópicas     o     
                            preparados   que   las   contengan   y   
                            ocasione  un  accidente  de  tránsito  
                            del  que  resulten  muertas  una  o  más  
                            personas,  será  sancionada  con  pena  
                            privativa  de  libertad  de  diez  a  doce  
                            años,  revocatoria  definitiva  de  la 
                            licencia para conducir vehículos.<br>
                            En  el  caso  del  transporte  público,  
                            además  de  la  sanción  prevista  en  
                            el  inciso  anterior,  el  propietario  del  
                            vehículo y la operadora de transporte serán  
                            solidariamente   responsables   
                            por los daños civiles, sin perjuicio de 
                            las acciones administrativas que sean 
                            ejecutadas  por  parte  del  organismo  
                            de  transporte  competente  sobre  la  
                            operadora.<br>
                            <b>Artículo 377.- Muerte culposa.-  </b> 
                            La persona  que  ocasione  un  accidente  
                            de tránsito del que resulte la muerte 
                            de  una  o  más  personas  por  infringir  
                            un  deber  objetivo  de  cuidado,  será  
                            sancionada    con    pena    privativa    
                            de   libertad   de   uno   a   tres   años,   
                            suspensión de la licencia de conducir 
                            por  seis  meses  una  vez  cumplida  la  
                            pena privativa de libertad.<br>
                            Serán  sancionados  de  tres  a  cinco  
                            años,  cuando  el  resultado  dañoso  es  
                            producto  de  acciones  innecesarias,  
                            peligrosas e ilegítimas, tales como:<br>
                            1. Exceso de velocidad.<br>
                            2.    Conocimiento    de    las    malas    
                            condiciones mecánicas del vehículo.<br>
                            3. Llantas lisas y desgastadas.<br>
                            4. Haber conducido el vehículo más 
                            allá de las horas permitidas por la ley 
                            o malas condiciones físicas de la o el 
                            conductor.<br>
                            5.       Inobservancia       de       leyes,       
                            reglamentos, regulaciones técnicas u 
                            órdenes legítimas de las autoridades 
                            o agentes de tránsito.<br>
                            En  caso  de  que  el  vehículo  con  el  
                            cual  se  ocasionó  el  accidente  preste  
                            un  servicio  público  de  transporte,  
                            será     solidariamente     responsable     
                            de  los  daños  civiles  la  operadora  
                            de  transporte  y  la  o  el  propietario  
                            del  vehículo,  sin  perjuicio  de  las  
                            acciones   administrativas   que   sean   
                            ejecutadas  por  parte  del  organismo  
                            de  transporte  competente,  respecto  
                            de la operadora.<br>
                            La  misma  multa  se  impondrá  a  la  
                            o  al  empleador  público  o  privado  
                            que  haya  exigido  o  permitido  a  la  
                            o  al  conductor  trabajar  en  dichas  
                            condiciones.<br>
                            <b>Artículo  378.-  Muerte  provocada  
                                por    negligencia    de    contratista    
                                o  ejecutor  de  obra.-   </b>     
                            La  persona  
                            contratista  o  ejecutor  de  una  obra  
                            que  por  infringir  un  deber  objetivo  
                            de  cuidado  en  la  ejecución  de  obras  
                            en  la  vía  pública  o  de  construcción,  
                            ocasione  un  accidente  de  tránsito  
                            en  el  que  resulten  muertas  una  o  
                            más  personas,  será  sancionada  con  
                            pena  privativa  de  libertad  de  tres  a  
                            cinco años. <br>
                            La persona contratista o 
                            ejecutora de la obra y la entidad que 
                            contrató  la  realización  de  la  obra,  
                            será  solidariamente  responsable  por  
                            los daños civiles ocasionados.
                            Si las obras son ejecutadas mediante 
                            administración    directa    por    una    
                            institución   del   sector   público,   la   
                            sanción  en  materia  civil  se  aplicará  
                            directamente  a  la  institución  y  en  
                            cuanto a la responsabilidad penal se 
                            aplicarán  las  penas  señaladas  en  el  
                            inciso  anterior  a  la  o  al  funcionario  
                            responsable directo de la obra.<br>
                            De  verificarse  por  parte  de  las 
                            autoridades  de  tránsito  que  existe  
                            falta   de   previsión   del   peligro   o   
                            riesgo    durante    la    ejecución    de  
                            obras  en  la  vía  pública,  dicha  obra  
                            será    suspendida    hasta    subsanar    
                            la  falta  de  previsión  mencionada,  
                            sancionándose  a  la  persona  natural  
                            o  jurídica  responsable  con  la  multa  
                            aplicable para esta infracción.<br>
                            <b>Artículo  379.-  Lesiones  causadas  
                                por  accidente  de  tránsito.-      </b> 
                            En  los  
                            delitos  de  tránsito  que  tengan  como  
                            resultado  lesiones  a  las  personas,  
                            se  aplicarán  las  sanciones  previstas  
                            en  el  artículo  152  reducidas  en  un  
                            cuarto de la pena mínima prevista en 
                            cada caso.<br>
                            Serán    sancionadas    además    con    
                            reducción   de   diez   puntos   en   su   
                            licencia.<br>
                            En   los   delitos   de   tránsito   que   
                            tengan  como  resultado  lesiones,  si  
                            la  persona  conduce  el  vehículo  en  
                            estado   de   embriaguez   o   bajo   los   
                            efectos de sustancias estupefacientes, 
                            psicotrópicas  o  preparados  que  las  
                            contengan, se aplicarán las sanciones 
                            máximas   previstas   en   el   artículo   
                            152, incrementadas en un tercio y la 
                            suspensión de la licencia de conducir 
                            por un tiempo igual a la mitad de la 
                            pena privativa de libertad prevista en 
                            cada caso.<br>
                            La o el propietario del vehículo será 
                            responsable  solidario  por  los  daños  
                            civiles.<br>
                            <b>Artículo 380.- Daños materiales.-</b>     
                            La persona que como consecuencia de 
                            un accidente de tránsito cause daños 
                            materiales  cuyo  costo  de  reparación  
                            sea mayor a dos salarios y no exceda 
                            de  seis  salarios  básicos  unificados 
                            del    trabajador    en    general,    será    
                            sancionada con multa de dos salarios 
                            básicos unificados del trabajador en 
                            general y reducción de seis puntos en 
                            su licencia de conducir, sin perjuicio 
                            de  la  responsabilidad  civil  para  con  
                            terceros a que queda sujeta por causa 
                            de la infracción.<br>
                            En  el  caso  del  inciso  anterior,  la  
                            persona que conduzca un vehículo en 
                            el lapso en que la licencia de conducir 
                            se   encuentre   suspendida   temporal   
                            o  definitivamente,  será  sancionada 
                            con  multa  de  cinco  salarios  básicos  
                            unificados del trabajador en general.<br>
                            La  persona  que  como  consecuencia  
                            del    accidente    de    tránsito    cause    
                            solamente   daños   materiales   cuyo   
                            costo   de   reparación   exceda   los   
                            seis salarios básicos unificados del 
                            trabajador en general, será sancionada 
                            con multa de cuatro salarios básicos 
                            unificados del trabajador en general 
                            y  reducción  de  nueve  puntos  en  su  
                            licencia de conducir.<br>
                            En  el  caso  del  inciso  anterior,  la  
                            persona que conduzca un vehículo en 
                            el lapso en que la licencia de conducir 
                            se   encuentre   suspendida   temporal   
                            o  definitivamente,  será  sancionada 
                            con  multa  de  siete  salarios  básicos  
                            unificados del trabajador en general.<br>
                            En cualquier caso, la o el propietario 
                            del   vehículo   será   solidariamente   
                            responsable de los daños civiles.<br>
                            <b>Artículo 381.- Exceso de pasajeros 
                                en transporte público.- 
                            </b>     
                            La persona 
                            que    conduzca    un    vehículo    de    
                            transporte    público,    internacional,    
                            intrarregional  [sic],  interprovincial,  
                            intraprovincial     con     exceso     de     
                            pasajeros,  será  sancionada  con  pena  
                            privativa de libertad de seis meses a 
                            un año, suspensión de la licencia de 
                            conducir por el mismo plazo.<br>
                            <b>Artículo   382.-   Daños   mecánicos   
                                previsibles en transporte público.- 
                            </b>     
                            La    persona    que    conduzca    un    
                            vehículo  de  transporte  público  con  
                            daños mecánicos previsibles, y como 
                            resultado  de  ello  ponga  en  peligro  
                            la  seguridad  de  los  pasajeros,  será  
                            sancionada  con  una  pena  privativa  
                            de libertad de treinta a ciento ochenta 
                            días,  suspensión  de  la  licencia  de  
                            conducir por el mismo tiempo.<br>
                            Será responsable solidariamente la o 
                            el propietario del vehículo.<br>

                        </p>
            </div>
        </div>
        



        <!--<iframe src="https://www.youtube.com/watch?v=TtuyP7y_ctw"></iframe>-->
        <div class="container" style="text-align: center">
            <iframe style="alignment-adjust: center" data-hooks="desktop-iframe" src="https://www.youtube.com/embed/x58MA1SXPMo?rel=0&autoplay=1&loop=1&playlist=x58MA1SXPMo" width="500" height="405" frameborder="0" allowfullscreen"></iframe>
        </div>
        <br>
        <a href="https://www.justicia.gob.ec/wp-content/uploads/2014/05/c%C3%B3digo_org%C3%A1nico_integral_penal_-_coip_ed._sdn-mjdhc.pdf"><b>Ir a documento Código Orgánico Integral Penal</b></a> 
    </div>
</section>

