<body class="is-preload" style="background-image: none; ">
    <div id="page-wrapper" >

        <!-- Main -->
        <section id="main" class="container medium ">
            <header>

                <p>CREAR INFRACTOR</p>
            </header>
            <%if(login == true){%>
            <div class="box" style="background-color: #fff">
                <form class="contact-form modal-content col container" id="validation-form" method="POST" action='/registroPlaca'>
                    <div >
                        <fieldset>
                            <legend>  DATOS DE VEHICULO</legend>
                            <div class="form-group">
                                <label for="nuevo_placa_vehiculo" class="form-control-label">Placa Vehicular:</label>
                                <input type="text" name="nuevo_placa_vehiculo" id="nuevo_placa_vehiculo"  maxlength="7" placeholder="Placa Vehicular" />
                            </div>
                            <div class="form-group">
                                <label for="nuevo_marca_vehiculo" class="form-control-label">Marca:</label>
                                <input type="text" name="nuevo_marca_vehiculo" id="nuevo_marca_vehiculo" placeholder="Marca" />

                            </div>
                            <div class="form-group">
                                <label for="nuevo_tipo_vehiculo" class="form-control-label">Tipo de Vehiculo:</label>
                                <input type="text" name="nuevo_tipo_vehiculo" id="nuevo_tipo_vehiculo" placeholder="Tipo" maxlength="30" />

                            </div>
                            <div class="form-group">
                                <label for="nuevo_color_vehiculo" class="form-control-label">Color:</label>
                                <input type="text" name="nuevo_color_vehiculo" id="nuevo_color_vehiculo" placeholder="Color" />

                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href = '/buscar_placa';" >Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>


                        </fieldset>
                    </div>
                </form>
            </div>
            <%}else{%>
            <a href = '/home'> Ir a principal</a>
            <%}%>
        </section>
    </div>

    <!--
    <script>
        $("#btn_buscar").click(function () {
            var html = "Ningun Dato que mostrar";
            $.ajax({
                type: "POST",
                url: "/buscar",
                data: "cedula=" + $("#cedula_buscar").val(),
                success: function (data) {
                    html = "";
                    if (!data) {

                    } else {
                        $('#cedula_buscar').val(data.cedula);
                        $('#nombres_infractor').val(data.nombres);
                        $('#apellidos_infractor').val(data.apellidos);
                    }
                    // alert(data);

                }
            });
        });
    </script>
    
    
    <script>
                    $(document).ready(function () {
                        $('#div_infractor').hide();

                    });
                    $('#btn_crear_infractor').click(function () {
                        console.log('presentar div');
                        $('#div_infractor').show();

                    });
                </script>-->
</body>

