
<div class="container">
    <section class="col-md-12 content" id="home">
        <div class="col-lg-6 col-md-6 content-item tm-black-translucent-bg tm-logo-box">
            <h2 class="main-title text-center dark-blue-text">TERMINAR</h2>
            <p>Gracias por agregar nuevos registros de citación</p>
            <button type="button" class="btn btn-big pull-right tm-btn-primary" onclick="location.href='/cerrar'">Salir</button>


        </div>
        <div class="col-lg-6 col-md-6 content-item content-item-1 background tm-white-translucent-bg">
            <h2 class="main-title text-center dark-blue-text">REGISTRAR NUEVA CITACION</h2>
            <p>Nueva citación</p>                
            <button type="button" class="btn btn-big pull-right tm-btn-primary" onclick="location.href='/buscar_infractor'">Continuar</button>

        </div>
    </section>


</div>